<!DOCTYPE html>
<html>

<head>

    <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="strains.js"></script>
    </head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="strains.css">

</head>

<body>
    <div id="bgcover">
        <div id="nav">
            <div class="navlogo">
                <a href="{{url_for('strains.home')}}">
                    <img id="logo" src="http://i.imgur.com/HtDLGnG.png" alt="">
                </a>
            </div>
            <div class="navstuff">
                <ul class="navitems">
                    <li><a href="{{url_for('strains.show')}}">Strains</a></li>
                    <li></li>
                    <li><a href="{{url_for('strains.about')}}">About</a></li>
                    <li></li>
                    <li><a href="{{url_for('strains.contact')}}">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="pitchwrap">
            <div class="pitch" id="one">The medical marijuana industry is letting us down.</div>
            <div class="pitch" id="two">While medical marijuana itself is becoming more and more accessible, specific diagnosis and <br>treatment is almost unheard of.</div>
            <div class="pitch" id="three">Welcome to <b>Deew It</b>, the first cannabis diagnostics tool made for <i>you</i>, the patient.</div>
        </div>
        <div class="btn">
            <button type="submit">Get Diagnosed</button>
        </div>
        <div class="field first">
            <div class="top1">
                <p>Have you been dealing with Inflammation?</p>
            </div>
            <div class="bottom">
                <a href="#" class="yes1">
                    <img src="http://www.packitup.dk/img/checkmark.png" alt="" class="yes1">
                </a>
                <a href="#" class="no1">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/White_X_in_red_background.svg/2000px-White_X_in_red_background.svg.png" alt="" class="no1">
                </a>
            </div>
        </div>
        <div class="field second">
            <div class="top2">
                <p>Have you been coping with migraines/headaches?</p>
            </div>
            <div class="bottom">
                <a href="#" class="yes2">
                    <img src="http://www.packitup.dk/img/checkmark.png" alt="" class="yes2">
                </a>
                <a href="#" class="no2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/White_X_in_red_background.svg/2000px-White_X_in_red_background.svg.png" alt="" class="no2">
                </a>
            </div>
        </div>
        <div class="field third">
            <div class="top3">
                <p>Are you looking for relief from seizures/spasms?</p>
            </div>
            <div class="bottom">
                <a href="#" class="yes3">
                    <img src="http://www.packitup.dk/img/checkmark.png" alt="" class="yes3">
                </a>
                <a href="#" class="no3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/White_X_in_red_background.svg/2000px-White_X_in_red_background.svg.png" alt="" class="no3">
                </a>
            </div>
        </div>
        <div class="field fourth">
            <div class="top4">
                <p>Are you experiencing loss of appetite?</p>
            </div>
            <div class="bottom">
                <a href="#" class="yes4">
                    <img src="http://www.packitup.dk/img/checkmark.png" alt="" class="yes4">
                </a>
                <a href="#" class="no4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/White_X_in_red_background.svg/2000px-White_X_in_red_background.svg.png" alt="" class="no4">
                </a>
            </div>
        </div>
        <div class="field fifth">
            <div class="top5">
                <p>Are you battling anxiety?</p>
            </div>
            <div class="bottom">
                <a href="#" class="yes5">
                    <img src="http://www.packitup.dk/img/checkmark.png" alt="" class="yes5">
                </a>
                <a href="#" class="no5">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/White_X_in_red_background.svg/2000px-White_X_in_red_background.svg.png" alt="" class="no5">
                </a>
            </div>
        </div>
        <div class="field sixth">
            <div class="top6">
                <p>Are you suffering from depression?</p>
            </div>
            <div class="bottom">
                <a href="#" class="yes6">
                    <img src="http://www.packitup.dk/img/checkmark.png" alt="" class="yes6">
                </a>
                <a href="#" class="no6">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/White_X_in_red_background.svg/2000px-White_X_in_red_background.svg.png" alt="" class="no6">
                </a>
            </div>
        </div>
        <div class="field seventh">
            <div class="top7">
                <p>Do you have trouble falling asleep at night?</p>
            </div>
            <div class="bottom">
                <a href="#" class="yes7">
                    <img src="http://www.packitup.dk/img/checkmark.png" alt="" class="yes7">
                </a>
                <a href="#" class="no7">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/White_X_in_red_background.svg/2000px-White_X_in_red_background.svg.png" alt="" class="no7">
                </a>
            </div>
        </div>
        <div class="field eighth">
            <div class="top8">
                <p>Are you experiencing any kind of physical pain/aching?</p>
            </div>
            <div class="bottom">
                <form class="f1" style="margin: 0; padding: 0; display: inline;" action="{{url_for('strains.results')}}">
                    <input class="valyes" style="display: inline;" type="hidden" name="info" value="">
                    <a class="sub1" type="submit" style="display: inline;" href="#" class="yes">
                        <img style="display: inline;" src="http://www.packitup.dk/img/checkmark.png" alt="" class="yes8">
                    </a>
                </form>
                <form class="f2" style="margin: 0; padding: 0; display: inline;" action="{{url_for('strains.results')}}">
                    <input class="valno" style="display: inline;" type="hidden" name="info" value="">
                    <a class="sub2" type="submit" style="display: inline;" href="#" class="no">
                        <img style="display: inline;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/White_X_in_red_background.svg/2000px-White_X_in_red_background.svg.png" alt="" class="no8">
                    </a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
